apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-ddiag
spec:
  selector:
    matchLabels:
      app: ddiag

  template:
    metadata:
      labels:
        app: ddiag
        release: ddiag

    spec:

{{- if .Values.securityContext }}
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
{{- end }}

      containers:
      - name: ddiag
        image: {{ .Values.image.name }}:{{ .Values.image.tag }}
        imagePullPolicy: Always
        command:
        - sleep
        args:
        - infinity

{{- if .Values.securityContext }}
        securityContext:
          privileged: false
          runAsUser: 1000
          runAsGroup: 1000
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
{{- end }}

        resources:
          limits:
            cpu: {{ .Values.resources.maxcpu }}
            memory: {{ .Values.resources.maxram }}
          requests:
            cpu: {{ .Values.resources.mincpu }}
            memory: {{ .Values.resources.minram }}

{{- if or .Values.localCaCert.enable .Values.clientCert.enable .Values.pvc.enable }}
        volumeMounts:
  {{- if .Values.localCaCert.enable }}
        - name: local-ca-cert-volume
          mountPath: /etc/ssl/certs/local-ca.crt
          subPath: ca.crt
  {{- end }}
  {{- if .Values.clientCert.enable }}
        - name: client-cert-volume
          mountPath: /home/ubuntu/ca.crt
          subPath: ca.crt
        - name: client-cert-volume
          mountPath: /home/ubuntu/tls_client.crt
          subPath: tls.crt
        - name: client-cert-volume
          mountPath: /home/ubuntu/tls_client.key
          subPath: tls.key
  {{- end }}
  {{- if .Values.pvc.enable }}
        - name: ddiag-pvc
          mountPath: /data
  {{- end }}

      volumes:

  {{- if .Values.localCaCert.enable }}
      - name: local-ca-cert-volume
        secret:
          secretName: {{ .Values.localCaCert.secret }}
  {{- end }}

  {{- if .Values.clientCert.enable }}
      - name: client-cert-volume
        secret:
          secretName: ddiag-client-cert
  {{- end }}

  {{- if eq .Values.pvc.type "existing" }}
      - name: ddiag-pvc
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-ddiag
  {{- else if eq .Values.pvc.type "custom" }}
      - name: ddiag-pvc
        persistentVolumeClaim:
          claimName: {{ .Values.pvc.name }}
  {{- end }}

{{- end }}
