# Create the DDiag pod with SecurityContext including UID and GID 1000
# and disabling the "privilege" option and dropping all capabilities?
securityContext: true

# Create NetworkPolicy enabling anything "from" and "to" the DDiag?
# This is unneccessary if you have no other NetworkPolicy in the current namespace.
networkPolicy: false

image:
  name: ghcr.io/josefhandl/ddiag
  tag: main

resources:
  mincpu: 1
  maxcpu: 1
  minram: 512Mi
  maxram: 512Mi

localCaCert:
  enable: false
  secret: ""

clientCert:
  enable: false
  issuer: ""

pvc:
  # Possible values: "existing", "custom", "none"
  type: none

  # type: custom
  storageClassName: nfs-csi
  size: 1Gi

  # type: existing
  name: data-sda-mq-0
